@{
    ViewData["Title"] = "Bike Page";
}
<!-- Hero Image Starts here -->
<div class="hero-image-small hero-small-bike">
    <div class="container">
        <div class="hero-text-inner">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 m-auto text-center">
                    <h3><span class="sub-heading-1">Get Instantly</span>Bike Insurance</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero Image Ends here -->
<!-- Client section Starts here -->
<div class="section-first">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 m-auto">
                <div class="title-center p-0">
                    <span class="sub-heading-1">In Simple Steps</span>
                    <h2>How Bike insurance works?</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti numquam sit eligendi veritatis debitis illo consequuntur tenetur distinctio, totam modi!</p>
                </div>
            </div>
        </div>

        <div class="row section">
            <div class="col-lg-5 col-md-6 col-sm-12">
                <div class="img-container">
                    <img src="~/images/bike_insurance_1.png" alt="">
                </div>
            </div>

            <div class="col-lg-5 col-md-6 col-sm-12 offset-lg-2 text-container-right">
                <div class="container-text">
                    <div class="bike-works">
                        <span>01</span>
                        <div class="works-text">
                            <h6>Select your bike<br> (e.g. Honda Activa 125cc)</h6>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis voluptate minus molestiae earum suscipit dignissimos distinctio laboriosam corporis ab. Optio, magni dolore. Libero quam mollitia aliquam nesciunt facere totam aperiam.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row section">
            <div class="col-lg-5 order-lg-2 col-md-6 col-sm-12 offset-lg-2">
                <div class="img-container">
                    <img src="~/images/bike_insurance_2.png" alt="">
                </div>
            </div>

            <div class="col-lg-5 col-md-6 col-sm-12 text-container-right">
                <div class="container-text">
                    <div class="bike-works">
                        <span>02</span>
                        <div class="works-text">
                            <h6>Enter the purchase date<br>of the bike (e.g. 2020)</h6>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis voluptate minus molestiae earum suscipit dignissimos distinctio laboriosam corporis ab. Optio, magni dolore. Libero quam mollitia aliquam nesciunt facere totam aperiam.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row section">
            <div class="col-lg-5 col-md-6 col-sm-12">
                <div class="img-container">
                    <img src="~/images/bike_insurance_3.png" alt="">
                </div>
            </div>

            <div class="col-lg-5 col-md-6 col-sm-12 offset-lg-2 text-container-right">
                <div class="container-text">
                    <div class="bike-works">
                        <span>03</span>
                        <div class="works-text">
                            <h6>Select if your existing bike insurance has expired or not</h6>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis voluptate minus molestiae earum suscipit dignissimos distinctio laboriosam corporis ab. Optio, magni dolore. Libero quam mollitia aliquam nesciunt facere totam aperiam.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row section">
            <div class="col-lg-5 order-lg-2 col-md-6 col-sm-12 offset-lg-2">
                <div class="img-container">
                    <img src="~/images/bike_insurance_4.png" alt="">
                </div>
            </div>

            <div class="col-lg-5 col-md-6 col-sm-12 text-container-right">
                <div class="container-text">
                    <div class="bike-works">
                        <span>04</span>
                        <div class="works-text">
                            <h6>Click on 'View Prices' and you can view different plans or your bike</h6>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis voluptate minus molestiae earum suscipit dignissimos distinctio laboriosam corporis ab. Optio, magni dolore. Libero quam mollitia aliquam nesciunt facere totam aperiam.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Client section Ends here -->
<!-- Process Strart here -->
<div class="bg-color-grad">
    <div class="section-large reason-sec-back">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-center">
                        <span class="sub-heading-1">6 Reasons to</span>
                        <h2>Choose our Insurance</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="col-lg-12 reason-sec bg-color">
        <div class="row">
            <div class="col-lg-4">
                <div class="col-icon-left-sml">
                    <div class="icon-left-sml"><img src="~/images/icon_tick_reasons.png" alt=""></div>
                    <div class="text-left-sml">
                        <h6>One of the best</h6>
                        <p>Lorem ipsum dolor sit am etcon sectetur adip isicing elit.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="col-icon-left-sml">
                    <div class="icon-left-sml"><img src="~/images/icon_tick_reasons.png" alt=""></div>
                    <div class="text-left-sml">
                        <h6>24/7 Support</h6>
                        <p>Lorem ipsum dolor sit am etcon sectetur adip isicing elit.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="col-icon-left-sml">
                    <div class="icon-left-sml"><img src="~/images/icon_tick_reasons.png" alt=""></div>
                    <div class="text-left-sml">
                        <h6>Quick Settlement</h6>
                        <p>Lorem ipsum dolor sit am etcon sectetur adip isicing elit.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="col-icon-left-sml">
                    <div class="icon-left-sml"><img src="~/images/icon_tick_reasons.png" alt=""></div>
                    <div class="text-left-sml">
                        <h6>Incredibly Low Prices</h6>
                        <p>Lorem ipsum dolor sit am etcon sectetur ad ipisicing elit.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="col-icon-left-sml">
                    <div class="icon-left-sml"><img src="~/images/icon_tick_reasons.png" alt=""></div>
                    <div class="text-left-sml">
                        <h6>Low Prices</h6>
                        <p>Lorem ipsum dolor sit am etcon sectetur adip isicing elit.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 last">
                <div class="col-icon-left-sml">
                    <div class="icon-left-sml"><img src="~/images/icon_tick_reasons.png" alt=""></div>
                    <div class="text-left-sml">
                        <h6>Third Party Insurance</h6>
                        <p>Lorem ipsum dolor sit am etcon sectetur adip isicing elit.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- Process Ends here -->
<!-- Intro Starts here -->
<div class="section-larger">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 text-container-left">

                <div class="container-text">
                    <h2>Few easy steps to keep safe your Bike!</h2>
                    <span class="sub-heading-2">Bike insurance is based on the simple concept of risk sharing.</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic ducimus voluptatibus, et facere ab vel adipisci corporis quidem. Exercitationem similique.</p>
                    <p>Voluptas provident iste nemo alias distinctio rem esse ex molestiae sapiente explicabo harum quidem sunt architecto nobis amet vel in optio quis cupiditate veniam, nihil nesciunt, soluta labore officiis? Vero, esse nemo.</p>
                </div>

            </div>

            <div class="col-lg-5 col-md-5 col-sm-12 offset-lg-1 offset-md-1">
                <div class="img-container">
                    <img src="~/images/about_img_1.png" class="img-fluid" alt="">
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Intro Ends here -->
<!-- Full width Starts here -->
<div class="section-larger bg-img-right-half">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="text-container">
                    <h2><span class="sub-heading-1">Why?</span>It is Important</h2>
                    <div class="highlight-top">
                        <h5 class="p-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio excepturi quis dolor? Itaque pariatur repellat illo nam unde, temporibus sunt.</h5>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>

<!-- Full width Ends here -->
<!-- Package price Start here -->
<div class="section-larger">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 m-auto">
                <div class="title-center">
                    <span class="sub-heading-1">Three Atractive</span>
                    <h2>Insurance Packages</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="package">
                    <h5>Basic</h5>
                    <div class="package-list">
                        <div class="duration"><h4>$70 <span>yearly</span></h4></div>
                        <ul>
                            <li class="active">Damage third-party vehicle </li>
                            <li class="active">Own Damage Theft </li>
                            <li>Damage due to fire </li>
                            <li>Naturaly damage  </li>
                            <li>Personal Accident cover </li>
                        </ul>
                    </div>
                    <button type="Submit" class="btn btn-prim mt-lg-4 mt-md-3 mt-sm-3">Purchase Now</button>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="package">
                    <h5>Standard</h5>
                    <div class="package-list">
                        <div class="duration"><h4>$101 <span>yearly</span></h4></div>
                        <ul>
                            <li class="active">Damage third-party vehicle </li>
                            <li class="active">Own Damage Theft </li>
                            <li class="active">Damage due to fire </li>
                            <li>Naturaly damage  </li>
                            <li>Personal Accident cover </li>
                        </ul>
                    </div>
                    <button type="Submit" class="btn btn-prim mt-lg-4 mt-md-3 mt-sm-3">Purchase Now</button>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 no-of-package">
                <div class="package">
                    <h5>Extended</h5>
                    <div class="package-list">
                        <div class="duration"><h4>$121 <span>yearly</span></h4></div>
                        <ul>
                            <li class="active">Damage third-party vehicle </li>
                            <li class="active">Own Damage Theft </li>
                            <li class="active">Damage due to fire </li>
                            <li class="active">Naturaly damage  </li>
                            <li class="active">Personal Accident cover </li>
                        </ul>
                    </div>
                    <button type="Submit" class="btn btn-prim mt-lg-4 mt-md-3 mt-sm-3">Purchase Now</button>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Package price Ends here -->
