@{
    ViewData["Title"] = "AboutUs Page";
}
<!-- Hero Image Starts here -->
<div class="hero-image-small hero-small-about">
    <div class="container">
        <div class="hero-text-inner">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 m-auto text-center">
                    <h3><span class="sub-heading-1">Few words</span>About Us</h3>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero Image Ends here -->
<!-- Intro Starts here -->
<div class="section-larger">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12">

                <div class="highlight-top">
                    <h5>Lorem ipsum dolor sit amet conse ctetur adipisicing elit. Cupiditate, deleniti.</h5>
                </div>

            </div>

            <div class="col-lg-7 col-md-7 col-sm-12">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut nesciunt tenetur tempore modi quas error quod quos. Excepturi eaque neque sed aperiam. Inventore, velit.</p>
                <p>Soluta, repellendus! Incidunt delectus nemo distinctio temporibus, magni velit ea dignissimos deserunt quidem voluptatum non illum fugiat nihil labore pariatur dolor perspiciatis in dolore veritatis unde?</p>
            </div>

        </div>
    </div>
</div>
<!-- Intro Ends here -->
<!-- Process Strart here -->
<div class="bg-color-grad">
    <div class="section-large reason-sec-back">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-center">
                        <span class="sub-heading-1">We serve</span>
                        <h2>Quality Products</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="col-lg-12 reason-sec bg-color">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 pro-border">
                <div class="product">
                    <div class="pro-icons"><span class="flaticon-insurance-1"></span></div>
                    <h6>Car Insurance</h6>
                    <p>100% Security</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 pro-border">
                <div class="product">
                    <div class="pro-icons"><span class="flaticon-motorcycle"></span></div>
                    <h6>Bike Insurance</h6>
                    <p>Both Side</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 pro-border">
                <div class="product">
                    <div class="pro-icons"><span class="flaticon-car-1"></span></div>
                    <h6>Commercial Use</h6>
                    <p>All Type</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 pro-border">
                <div class="product">
                    <div class="pro-icons"><span class="flaticon-insurance-3"></span></div>
                    <h6>Health Insurance</h6>
                    <p>Family</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Process Ends here -->
<!-- Video section Starts here -->
<div class="section-first">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 m-auto">
                <div class="title-center p-0">
                    <span class="sub-heading-1">In Simple Steps</span>
                    <h2>How Bike insurance works?</h2>
                </div>
            </div>
        </div>

        <div class="videos owl-carousel owl-theme">
            <div class="item-2">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row section">
                            <div class="col-lg-5 col-md-6 col-sm-12">
                                <div class="img-container">
                                    <a class="tute-video" href="https://www.youtube.com/watch?v=_8JseXRp43U"><img src="images/vdo_thumb_1.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 offset-lg-1 text-container-right">
                                <div class="container-text">
                                    <div class="bike-works">
                                        <div class="works-text">
                                            <h6>How to claim Insurance?</h6>
                                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis voluptate minus molestiae earum suscipit dignissimos distinctio laboriosam corporis.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item-2">
                <div class="row section">
                    <div class="col-lg-5 col-md-6 col-sm-12">
                        <div class="img-container">
                            <a class="tute-video" href="https://www.youtube.com/watch?v=_8JseXRp43U"><img src="images/vdo_thumb_2.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 offset-lg-1 text-container-right">
                        <div class="container-text">
                            <div class="bike-works">
                                <div class="works-text">
                                    <h6>How to claim Insurance?</h6>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis voluptate minus molestiae earum suscipit dignissimos distinctio laboriosam corporis.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>



<!-- Video section Ends here -->
<!-- Features Starts here -->

<div class="section-large bg-color">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 m-auto">
                <div class="title-center p-0">
                    <span class="sub-heading-1">Core</span>
                    <h2>Fetures</h2>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-3 col-md-3 col-sm-6 feture-list">

                <div class="col-icon-cntr-claim">
                    <div class="icon-cntr-claim"><span class="flaticon-document"></span></div>
                    <div class="col-text-cntr-claim">
                        <h6>You Register</h6>
                    </div>
                </div>

            </div>

            <div class="col-lg-3 col-md-3 col-sm-6">

                <div class="col-icon-cntr-claim">
                    <div class="icon-cntr-claim"><span class="flaticon-car-4"></span></div>
                    <div class="col-text-cntr-claim">
                        <h6>We Pick Up</h6>
                    </div>
                </div>

            </div>

            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="col-icon-cntr-claim">
                    <div class="icon-cntr-claim"><span class="flaticon-insurance-4"></span></div>
                    <div class="col-text-cntr-claim">
                        <h6>You Relax</h6>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="col-icon-cntr-claim">
                    <div class="icon-cntr-claim"><span class="flaticon-car-3"></span></div>
                    <div class="col-text-cntr-claim">
                        <h6>We Deliver</h6>
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>

<!-- Features Ends here -->
<!-- Our Clients section ends here -->
<div class="section-large">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-lg-12">
                <div class="text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="title-center p-0">
                                    <span class="sub-heading-1">Our Team</span>
                                    <h2>Board Of Directors</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6 team-list">
                                <div class="team" data-aos="flip-left">
                                    <img src="~/images/team_img_3.jpg" class="img-fluid" alt="">
                                    <div class="team-info">
                                        <h5>Ferdinand Karl</h5>
                                        <p>CEO & Co-Founder </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="team" data-aos="flip-left">
                                    <img src="~/images/team_img_2.jpg" class="img-fluid" alt="">
                                    <div class="team-info">
                                        <h5>Kiersten Lange</h5>
                                        <p>MD & Co-Founder</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="team" data-aos="flip-left">
                                    <img src="~/images/team_img_1.jpg" class="img-fluid" alt="">
                                    <div class="team-info">
                                        <h5>Anson Buck</h5>
                                        <p>Business Analyst</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="team" data-aos="flip-left">
                                    <img src="~/images/team_img_1.jpg" class="img-fluid" alt="">
                                    <div class="team-info">
                                        <h5>Anson Buck</h5>
                                        <p>Business Analyst</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="team" data-aos="flip-left">
                                    <img src="~/images/team_img_4.jpg" class="img-fluid" alt="">
                                    <div class="team-info">
                                        <h5>Aliah Pitts</h5>
                                        <p>Senior Manager</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>