@{
    ViewData["Title"] = "Contact Page";
}
<!-- Hero Image Starts here -->
<div class="hero-image-small hero-small-contact">
    <div class="container">
        <div class="hero-text-inner">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 m-auto text-center">
                    <h3><span class="sub-heading-1">Any quiery?</span>Contact Us</h3>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero Image Ends here -->
<!-- Form section starts here -->
<div class="section-first">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="contact">
                            <img src="~/images/send-email-2.png" class="img-fluid" alt="" data-aos="flip-left" data-aos-delay="50">
                            <span class="lable">Email -</span>
                            <p>youremail_1@mail.com</p>
                            <p>youremailid_2@mail.com</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="contact">
                            <img src="~/images/mobile-phone-2.png" class="img-fluid" alt="" data-aos="flip-left" data-aos-delay="150">
                            <span class="lable">Call -</span>
                            <p>+(054) 190 357 65 / 66 / 67</p>
                            <p>+(054) 190 358 55 / 56 / 57</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="contact">
                            <img src="~/images/mood-happy.png" class="img-fluid" alt="" data-aos="flip-left" data-aos-delay="250">
                            <span class="lable">Skype -</span>
                            <p>enobel@skype</p>
                            <p>enobel_business@skype</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="contact">
                            <img src="~/images/flag.png" class="img-fluid" alt="" data-aos="flip-left" data-aos-delay="350">
                            <span class="lable">Location -</span>
                            <p>34/02 Oak Street, lorem ipsum,<br> New South block</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12">
                <form>
                    <div class="form-group">
                        <label for="formGroupExampleInput1">Name</label>
                        <input type="text" class="form-control" id="formGroupExampleInput1" placeholder="Your name">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Email</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="email@example.com">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Subject</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Subject">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Message</label>
                        <textarea class="form-control msg-area" id="exampleFormControlTextarea1" placeholder="Type here..." rows="2"></textarea>
                    </div>
                    <button type="button" class="btn btn-prim-round">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Form section ends here -->